@font-face {
    font-family: pressStartCondensed;
    src: url(../fonts/PrStart.ttf);
}

@font-face {
    font-family: pressStart;
    src: url(../fonts/prstartk.ttf);
}

html {
	text-align: center;
	cursor: url(http://img1.wikia.nocookie.net/__cb20140414065146/nuclear-throne/images/1/16/Pointer.gif) 16 16, none;
	font-family: pressStart;
}

body {
	font-size : 13pt;
	font-family: pressStart;
}

h2 {
	margin-top : 0px;
	font-weight : bold;
}

#status {
	position : absolute;
	top : 0px;
	width : 100%;
	text-align : center;
	border-bottom : 1px solid lightGray;
}

#status div {
	display : inline-block;
	padding : 10px 20px;
	color : gray;
	border-left : 1px solid lightGray;
	border-right : 1px solid lightGray;
}
#status div+div {
	border-left : none;
}

.section {
	padding : 10px;
	margin : auto;
	margin-top : 100px;
	max-width : 600px;
	border : 1px solid lightGray;
}
.section#intro {
	display : block;
}
.section button {
	display : block;
	width : 100%;
	color : black;
	text-decoration : none;
	padding : 5px;
	margin-top : 30px;
	background : black;
	border : none;
	cursor: url(http://img1.wikia.nocookie.net/__cb20140414065146/nuclear-throne/images/1/16/Pointer.gif) 16 16, none;
	font-family: pressStart;
	color: lightGray;
}
.section button+button  {
	margin-top : 10px;
}

.section button:hover {
	color : white;
	background-color : black;
}

.battle {
	padding : 10px 10px;
	margin : 20px 0px;
	box-shadow : 0px 2px 8px gray;
}

/*lien si donne la langue au chat*/
#lose{
    cursor: pointer;
}

