@font-face {
    font-family: pressStartCondensed;
    src: url(../fonts/PrStart.ttf);
}

@font-face {
    font-family: pressStart;
    src: url(../fonts/prstartk.ttf);
}

html {
	text-align: center;
	cursor: url(http://img1.wikia.nocookie.net/__cb20140414065146/nuclear-throne/images/1/16/Pointer.gif) 16 16, none;
	font-family: pressStart;
	color: white;
	height: 100%;
	background: rgba(68,39,107,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(68,39,107,1) 0%, rgba(169,82,240,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(68,39,107,1)), color-stop(100%, rgba(169,82,240,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(68,39,107,1) 0%, rgba(169,82,240,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(68,39,107,1) 0%, rgba(169,82,240,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(68,39,107,1) 0%, rgba(169,82,240,1) 100%);
	background: radial-gradient(ellipse at center, rgba(68,39,107,1) 0%, rgba(169,82,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44276b', endColorstr='#a952f0', GradientType=1 );
	line-height: 2em;
}

body {
	font-size : 13pt;
	font-family: pressStart;
}

h2 {
	margin-top : 0px;
	font-weight : bold;
}

button {
	border-radius: 4px;
}

button:focus {
	outline-color: rgba(191,129,255,1);
}

#logo {
	height: 130px;
	margin-top: 50px;
	margin-bottom: 20px;
}

#characters {
	display: table;
}


#characters button {
	border-radius: 8px;
	height: 150px;
    width: 150px;
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}

#characters button:hover {
	-moz-box-shadow: 0px 0px 50px 1px #ffffff;
	-webkit-box-shadow: 0px 0px 50px 1px #ffffff;
	-o-box-shadow: 0px 0px 50px 1px #ffffff;
	box-shadow: 0px 0px 50px 1px #ffffff;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff, Direction=NaN, Strength=50);
}

#status {
	position : absolute;
	top : 0px;
	width : 100%;
	text-align : center;
	border-bottom : 1px solid lightGray;
}

#status div {
	display : inline-block;
	padding : 10px 20px;
	color : white;
	border-left : 1px solid lightGray;
	border-right : 1px solid lightGray;
}
#status div+div {
	border-left : none;
}

.section {
	padding : 10px;
	margin : auto;
	max-width : 600px;
	border : 1px solid lightGray;
}
.section#intro {
	display : block;
}
button {
	display : block;
	width : 100%;
	color : black;
	text-decoration : none;
	padding : 5px;
	margin-top : 30px;
	background : black;
	border : none;
	cursor: url(http://img1.wikia.nocookie.net/__cb20140414065146/nuclear-throne/images/1/16/Pointer.gif) 16 16, none;
	font-family: pressStart;
	color: lightGray;
}
.section button+button  {
	margin-top : 10px;
}

button:hover {
	color : white;
	background-color : black;
}

.battle {
	padding : 10px 10px;
	margin : 20px 0px;
	box-shadow : 0px 2px 8px gray;
}

input[type='number']{
    width:7%;
    height: 23px;
    font-family:pressStart;
    cursor: url(http://img1.wikia.nocookie.net/__cb20140414065146/nuclear-throne/images/1/16/Pointer.gif) 16 16, none;
}
#easter_egg, #easter_egg+button{
    margin:2% auto;
    width:38%;
}

/*lien si donne la langue au chat*/
#lose{
    cursor: pointer;
}

